<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Ror Tutorial Sample
App</title>
    <% provide(:title,"Home") %>
    <h1> Sample App Home </h1>
    <p>This is the home page for <a href="http://www.railstutorial.org/"> RoR Tutorial</a> sample application </p>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
